.App {
  font-family: sans-serif;
  text-align: left;
}

.note {
  background-color: #efefef;
  border-radius: 5px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto auto 10px auto;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note button {
  background-color: red;
  color: white;
  height: 33px;
  width: 70px;
  border-radius: 4px;
  border: none;
}

.note button:hover {
  animation-name: delete-button;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.div-button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-button button {
  margin: auto;
}

.left-note {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.top-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.top-note span {
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

form button {
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 4px;
}

form button:hover {
  animation-name: newNote-button;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

form input[type="text"] {
  height: 25px;
  width: 250px;
}
form {
  margin: auto auto 25px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

form * {
  margin-bottom: 5px;
}

span {
  color: red;
}

@keyframes newNote-button {
  100% {
    box-shadow: 2px 4px 16px 0px #292929;
  }
}

@keyframes delete-button {
  100% {
    box-shadow: 2px 4px 16px 0px #cc0000;
  }
}
